* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}
:root {
  --primary-color: #f29f33; 
}
/* ===================================================common====================================== */
.main-content {
  max-width: 1150px;
  margin: auto;
}
/* ===================================================header====================================== */

.header {
  height: 110px;
  z-index: 1;
}
.header.sticky{
  position: sticky;
  top: 0;
}
.header .header-top {
  background: rgba(243, 245, 244, 0.9) ;
  padding: 10px 0 10px;
  
}
.header .header-top .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .body .logo {
  width: 200px;
}
.header .search-box {
  display: flex;
  width: 491px;
  height: 43px;
  border: 1px solid #674346;
  border-radius: 40px;
  align-items: center;
  justify-content: space-between;
}
.header .search-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.header .hotline-box {
  display: flex;
  align-items: center;
}
.header .hotline-box .phone {
  width: 25px;
  height: 25px;
}
.header .search-box .desc {
  margin-left: 20px;
  font-size: 1.3rem;
  color: #282828;
}
.header .search-box .search-icon {
  width: 25px;
  height: 25px;
}
.header .hotline-box .phone {
  width: 25px;
  height: 25px;
}
.header .hotline-box .desc {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  margin-left: 5px;
}
.header .account-box {
  display: flex;
  margin-right: 15px;
}
.header .main-menu {
  display: flex;
  margin-left: 15px;
}
.header-bottom {
  background: rgba(99, 62, 65, 0.9);
}
.header-bottom .body {
  align-items: center;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.header-bottom .user {
  width: 25px;
  height: 25px;
}
.header-bottom .cart {
  width: 25px;
  height: 25px;
  fill: white;
  margin-left: 10px;
}
.header-bottom li {
  font-weight: 500;
  font-size: 1.6rem;
  color: white;
}
.header-bottom ul {
  gap: 30px;
}
.header-bottom .product-parent {
  position: relative;
}
.header-bottom .product {
  margin-right: 15px;
}
.header-bottom .product::after {
  content: "";
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* Tạo mũi tên tam giác */
}

/* ===================================================background====================================== */

.background{
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  background-color: #FEF7EF;
}
.background img{
  width: 100%;
  height: auto;

}
/* ===================================================cta====================================== */
.cta{
  padding-top:50px;
  background-color: #FEF7EF;
}
.cta .item{
  display: flex;
}
.cta .item-right-top{
  display: flex;
}
.cta .item-right-bottom{
  display: flex;
}
.cta h1{
  font-weight: 700;
  font-size: 3.4rem;
  color:var(--primary-color);
  max-width: 630px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* position: relative; */
}
.cta h1::after{
  content: "";
  position: absolute;
  display: block;
  width: 135px;
  height: 2px;
  background-color: var(--primary-color);
  /* margin-top: 60px; */
left: 50%;
/* right: 50%; */

}
.cta span{
margin-top: 50px;
}
/* code tiếp - ảnh bìa chưa nằm ở vị trí top:0 */