* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}
:root {
  --primary-color: #f29f33;
}
/* ===================================================common====================================== */
.main-contain {
  max-width: 1150px;
  margin: auto;
}
a{
  text-decoration: none;
}
/* ===================================================header====================================== */

.header {
  height: 110px;
  z-index: 1;
}
.header.sticky {
  position: sticky;
  top: 0;
}
.header .header-top {
  background: rgba(243, 245, 244, 0.8);
  padding: 10px 0 10px;
}
.header .header-top .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .body .logo {
  width: 200px;
}
.header .search-box {
  display: flex;
  width: 491px;
  height: 43px;
  border: 1px solid #674346;
  border-radius: 40px;
  align-items: center;
  justify-content: space-between;
}
.header .search-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.header .hotline-box {
  display: flex;
  align-items: center;
}
.header .hotline-box .phone {
  width: 25px;
  height: 25px;
}
.header .search-box .desc {
  margin-left: 20px;
  font-size: 1.3rem;
  color: #282828;
}
.header .search-box .search-icon {
  width: 25px;
  height: 25px;
}
.header .hotline-box .phone {
  width: 25px;
  height: 25px;
}
.header .hotline-box .desc {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  margin-left: 5px;
}
.header .account-box {
  display: flex;
  margin-right: 15px;
}
.header .main-menu {
  display: flex;
  margin-left: 15px;
}
.header-bottom {
  background: rgba(99, 62, 65, 0.8);
}
.header-bottom .body {
  align-items: center;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.header-bottom .user {
  width: 25px;
  height: 25px;
}
.header-bottom .cart {
  width: 25px;
  height: 25px;
  fill: white;
  margin-left: 10px;
}
.header-bottom li {
  font-weight: 500;
  font-size: 1.6rem;
  color: white;
}
.header-bottom ul {
  gap: 30px;
}
.header-bottom .product-parent {
  position: relative;
}
.header-bottom .product {
  margin-right: 15px;
}
.header-bottom .product::after {
  content: "";
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* Tạo mũi tên tam giác */
}

/* ===================================================background====================================== */

.background {
  width: 100%;
  height: auto;
  position: relative;
  transform: translateY(-13%);
}
.background img {
  width: 100%;
  height: auto;
}
.background-cta {
  background-color: #fef7ef;
}
/* ===================================================cta====================================== */
.cta {
  padding-top: 50px;
  padding-bottom:90px;
  margin-top: -125px;
}
.cta .item {
  display: flex;
}
.cta .item-right-top {
  display: flex;
}
.cta .item-right-bottom {
  display: flex;
}
.cta h1 {
  font-weight: 700;
  font-size: 3.4rem;
  color: var(--primary-color);
  max-width: 630px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  line-height: 4.8rem;
  margin-bottom: 50px;
}
.cta h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 135px;
  height: 2px;
  background-color: var(--primary-color);
  right: 50%;
  transform: translateX(50%);
  margin-top: 22px;
}

.cta .desc{
  display: block;
  font-size: 1.6rem;
  color: #656565;
  line-height: 2.6rem;
  margin-bottom: 25px;
text-align: center;
}
.cta .item-left{
  max-width: 566px;
  /* height: auto; */
}
.cta .item-left img{
  width: 100%;
  min-height: 423px;
  border-radius: 20px;
  cursor: pointer;
  object-fit: cover;
}
.cta .item-right{
  max-width: 51%;
  margin-left: 25px;
}
.cta .item-right .common{
  background-color: #fff;
  border-radius: 20px;
  max-width: 268px;
  min-height: 199px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.cta .item-right .common:hover{
  background-color: var(--primary-color);
  cursor: pointer;
}
.cta .item-right .common:hover p,
.cta .item-right .common:hover h2{
  color:white;
}
.cta .item-right .common:hover img{
  filter: invert(100%);
  filter: brightness(1000%);
}
.cta .item-right img{
  max-width: 50px;
  height: auto;
}
.cta .item-right h2{
  font-weight: 600;
  font-size: 1.8rem;
  color: black;
  margin-top: 10px;
  text-align: center;
}
.cta .item-right p{
  font-size: 1.4rem;
  color: #656565;
  max-width: 238px;
  margin-top: 10px;
  text-align: center;
  line-height: 1.78;  /* */
}
.cta .item-right-bottom{
  margin-top: 23px;
}
.cta .warranty,
.cta .quality{
  margin-left: 25px;
}
/* ===================================================service====================================== */
.service{
  padding: 60px 0 60px;
  background-image:url(https://t4.ftcdn.net/jpg/06/54/08/55/360_F_654085598_siBDdqERrp3cx8x8aBAhM7XXivCgeVDi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.service .body{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.service .box{
  max-width: 295px;
  height: 390px;
  position: relative;
}
.service .box h1{
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 48px;
  color: var(--primary-color);
  position: relative;
}
.service .box h1::after{
  display: block;
  content: "";
  width: 135px;
  height: 2px;
  position: absolute;
  background-color: var(--primary-color);
  top: 60px;
}
.service .box .desc{
  margin-top: 35px;
  line-height: 30px;
  font-size: 1.6rem;
  color:#282828;
  max-width: 265px;
}

.service .box button{
  border: none;
  width: 265px;
  height: 60px;
  background-color: var(--primary-color);
  margin-top: 35px;
  border-radius: 20px;
  cursor: pointer;
}
.service .box button:hover{
  background: #513437;
}
.service .box button p{
  font-weight: 700;
  font-size: 2rem;
  line-height: 32px;
  color:white;
}
.service .box .photo-service{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 1s ease;
}
.service .box .photo-service:hover{
  transform: scale(1.2);
  border-radius: 20px;
}
.service .box3,.service .box4,
.service .box2{
  overflow: hidden;
  
  border-radius: 20px;
}

.service .info{
  position: absolute;
  bottom: 25px;
  display: flex;
left: 35px;
align-items: center;

}
.service .box .line{
  width: 3px;
  height: 45px;
  background: white;
  margin-left: 17px;
  border-radius: 10px;
}
.service .box .service-icon{
  width: 44px;
  height: auto;
}
.service .box span{
  font-size: 2rem;
  font-weight: 700;
  line-height: 26px;
  color: white;
  margin-left: 10px;
}
/* ===================================================product====================================== */
.product{
  background-color: #FDF8F7;
  padding: 50px 0 50px;
}
.product h1{
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 48px;
  color:var(--primary-color);
  text-align: center;
  position: relative;
}
.product h1::after{
  content: "";
  width: 135px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: var(--primary-color);
left: 50%;
transform: translateX(-50%);
margin-top: 30px;
}
.product .product-top{
  display: flex;
  margin-top: 75px;
}
.product-top-left{
  display: flex;
  width: 48.7%;
}
.product-top-left .img-item{
  width: 100%;
  border-radius: 20px;
  height: 270px;
  object-fit: cover;
}
.product-top-left .item1{
  width: 270px;
  height: 346px;
  position: relative;
}
.product-top-left .item2{
  margin-left: 20px;
  width: 270px;
  height: 346px;
  position: relative;
}
.product-top-left .price{
  display: flex;
  margin-top: 14px;
  align-items: center;
}
.product-top-left h2{
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 18px;
  color:#474747;
  margin-top: 14px;
}
.product-top-left h2:hover{
  color: var(--primary-color);
}
.product-top-left span{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 18px;
  color: var(--primary-color);
}
.product-top-left p{
  font-size: 1.2rem;
  line-height: 12px;
  color:#777777;
  text-decoration: line-through;
  margin-left: 10px;
}
.product-top-left .number{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 64px;
  height: 28px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 600;
}